/* Section Main
     ========================================================================== */
body{
    width: 100vw;
    height: 100vh;
}

    .astro{
        width: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .astro__img{
            width: 15em;
            height: 15em;
            margin: 0 auto;
        }

        .astro__titulo{
            margin: 1rem auto 0;
            font-size: 3.5em;
            font-family: var(--poppins);
        }

        .astro__p{
            margin-top: 1em;
            text-align: center;
            font-size: 1.2em;
            color: var(--grey);
        }

        .astro__logo{
            width: 15em;
            margin: 3em auto;
        }


/* Responsive Desing
     ========================================================================== */
@media screen and (min-width : 992px){
    .astro__titulo{
        font-size: 5em;
    }
}