  /* Main (Todo esto comenzó aquí, con un formulario)
     ========================================================================== */
.main{
    padding-top: 5em;
}

    .form{
        display: flex;
        flex-direction: column;
        border: 1px solid var(--white);
        margin: 1.5em 0 3em 0;
    }

    .form__title{
        width: 70%;
        font-size: 3em;
        font-family: var(--bebas-neue);
        margin: 1em auto;
        text-align: center;
    }

        .banner__img{
            width: 100%;
            object-fit: scale-down;
        }

    .row--coach{
        width: 80%;
        height: max-content;
        margin: 2em auto;
    }

        .row__header--coach{
            margin-bottom: 4em;
        }

            .row__title{
                font-size: 1.2em;
                font-weight: 600;
            }

        .fila2__selectores, .fila2__aclaracion{
            padding-bottom: 1.5em;
        }

        .input{
            position: relative;
            margin-bottom: 4em;
        }

            .input__box{
                width: 100%;
                position: relative;
            }

                .input__label{
                    position: absolute;
                    top: .5em;
                    transition: all .3s ease;
                    color: var(--grey);
                    pointer-events: none;
                }

            .input__text:focus + .input__label{
                transform: translateY(-1.5em);
                font-size: .85em;
            }

            .input__text:not(:placeholder-shown) + .input__label{
                transform: translateY(-1.5em);
                font-size: .85em;
            }

            .input__text{
                color: var(--white);
                display: flex;
                width: 100%;
                padding: 0.625em 0;
                background: transparent;
                border: none;
                border-bottom: 1px solid #fffdf7;
                box-sizing: border-box;
                margin-bottom: 0.625em;
                font-size: 1em;
                outline: none;
            }

            .input__text--error{
                border-bottom: 1px solid var(--red);
            }

            .input__text--error:focus{
                border-bottom: 1px solid var(--red);
            }

            .input__text--checked{
                border-bottom: 1px solid var(--green);
            }

            .input__text--checked:focus{
                border-bottom: 1px solid var(--green);
            }
            
            .input__alerts{
                display: none;
                flex-direction: row;
                font-size: .9em;
                gap: 1em;
            }

            .input__alerts--active{
                display: flex;
            }

                .input__i{
                    margin: 0;
                    color: var(--red);
                }

                .input__i--checked{
                    color: var(--green);
                }

                .input__error{
                    margin: 0;
                    display: none;
                    color: var(--red);
                }

                .input__error--active{
                    display: flex;
                }

                .input__checked{
                    margin: 0;
                    display: none;
                    color: var(--green);
                }

                .input__checked--active{
                    display: flex;
                }

    .row--competitor{
        width: 80%;
        height: max-content;
        margin: 2em auto;
    }

        .row__header--competitor{
            display: flex;
            flex-direction: column;
            margin-bottom: 4em;
            gap: .8em;
        }

            .row__selectors {
                width: 100%;
                color: var(--white);
                outline: none;
                font-size: 1em;
            }

            .selectors--label{
                margin-bottom: 1em;
            }

            .selector{
                width: 100%;
                margin-bottom: 1em;
                height: 2em;
                background-color: var(--black3);
                color: var(--white);
                outline: none;
            }

            .selector--checked{
                border-color: var(--green);
            }

            .selector--error{
                border-color: var(--red);
            }

            .aclaration{
                margin: 1em auto;
            }

.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em auto;
}

    .actions__btca{
        display: flex;
        align-items: center;
        width: 10em;
        height: 3em;
        background-color: rgba(255, 255, 255, .02);
        backdrop-filter: blur(4px);
        border: 1px solid var(--white);
        color: var(--white);
        font-family: var(--roboto);
        font-size: 1em;
        cursor: pointer;
    }

        .actions__label{
            color: var(--white);
            position: relative;
            left: 31%;
            transition: all .5s ease-in-out;
        }

        .actions__btca:hover .actions__label{
            left: 20%;
        }

        .actions__icon{
            font-size: 1.2em;
            display: flex;
            align-items: center;
            position: relative;
            left: 5%;
            transition: all .5s ease-in-out;
            opacity: 0;
        }

        .actions__btca:hover .actions__icon{
            left: 30%;
            opacity: 1;
        }

.messages{
    display: none;
    width: 80%;
    height: 4em;
    margin: 0 auto 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
}

.messages--active{
    display: flex;
}

.messages--error{
    background-color: var(--red);
}

.messages--checked{
    background-color: var(--green);
}

  /* Responsive Desing
     ========================================================================== */

/*Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}*/

/*Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}*/

/*Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}*/

/*Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}*/

@media screen and (min-width: 992px){
    .row--coach{
        width: 80%;
        height: max-content;
    }

        .row__inputs{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 1.5em;
        }

            .input{
                width: 100%;
                margin-left: 0;
            }

    .row--competitor{
        width: 80%;
        *height: 39em;
    }

    .inputs--row2{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3em;
        gap: 1.5em;
    }

    .containerCloned{
        width: 100%;
    }
    
    .buttons__container{
        flex-direction: row;
    }
    
        .button{
            width: 100%;
        }

    .menu__hamb{
        display: none;
    }
}
