.header{
    width: 100%;
    height: 4em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--yellow-dark);
    z-index: 2;
}

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .nav__logo{
            display: inline-block;
            width: 17em;
            height: 100%;
            cursor: pointer;
        }

            .nav__img{
                display: block;
                width: 100%;
                height: 100%;
            }

        .menu{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100vh - 4em);
            justify-content: center;
            top: 4em;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            right: -200vw;
            font-family: var(--roboto);
            font-weight: bold;
            position: fixed;
            background: var(--yellow-dark);
            transition: all 900ms ease;
        }

            .menu--transladar{
                transform: translateX(-100vw);
            }

            .menu__contenedor{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 75%;
                height: 75%;
                margin: 0 auto;
            }

            .menu__links{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                list-style: none;
                padding: 0;
                margin: 0 auto;
            }

                .menu__li{
                    width: 100%;
                    padding: 1em;
                    text-align: center;
                    position: relative;
                }

                    .menu__a{
                        text-decoration: none;
                        color: var(--black3);
                        font-size: 1.3em;
                    }

        .menu__hamb{
            width: 1.6875em;
            height: 1.8125em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            margin: 0;
        }

            .menu__hamb--line{
                width: 100%;
                height: 3px;
                border-radius: 6px;
                background: var(--black3);
                transition: all 900ms;
                transform-origin: 0px 100%;
            }

            .active--top{
                transform: rotate(45deg)
                translate(-2px, 0px);
            }

            .active--middle{
                opacity: 0;
                transform: translateX(-2em);
            }

            .active--bottom{
                transform: rotate(-45deg)
                translate(-1px, 1px);
            }
/*------------------------------------------------------------------------------------------------------------*/
/*Responsive*/

@media screen and (min-width: 992px){

    .menu{
        position: relative;
        width: max-content;
        height: 4em;
        top: 0;
        margin: 0;
    }
        .menu__contenedor{
            width: 100%;
            height: 100%;
        }

            .menu__links{
                width: max-content;
                flex-direction: row;
                align-items: center;
                gap: 2em;
            }

                .menu__li{
                    width: max-content;
                    padding: 0;
                }

                .menu__li::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -.5em;
                    width: 100%;
                    height: 2px;
                    opacity: .8;
                    background-color: var(--black3);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 900ms;
                }
            
                .menu__li:hover::after{
                    transform: scaleX(1);
                    transform-origin: right;
                }
            

                    .menu__a{
                        font-size: .9em;
                    }

    .menu__hamb{
        display: none;
    }

}