.header{
    width: 100%;
    height: 4em;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--yellow-dark);
    z-index: 2;
}

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .nav__logo{
            display: inline-block;
            width: 17em;
        }

            .nav__img{
                display: block;
                width: 100%;
            }

        .menu{
            display: flex;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            right: -200vw;
            font-family: var(--roboto);
            position: fixed;
            background: var(--yellow-dark);
            transition: all 900ms ease;
        }

            .menu--transladar{
                transform: translateX(-100vw);
            }

            .menu__contenedor{
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: space-between;
                top: 5em;
                width: 75%;
                height: 75%;
                margin: 0 auto;
            }

            .menu__titulo{
                font-size: 2.5em;
                font-family: var(--poppins);
                font-style: italic;
                -webkit-text-stroke: 1.5px var(--black3);
                color: transparent;
                margin: 0 auto;
            }

            .menu__links{
                width: auto;
                list-style: none;
                padding: 0;
                text-align:start;
                margin: 0 auto;
            }

                .menu__li{
                    padding: 1em;
                    position: relative;
                }

                .menu__li::after{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1.3px;
                    background-color: var(--black3);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 900ms;
                }

                .menu__li:hover::after{
                    transform: scaleX(1);
                    transform-origin: right;
                }

                    .menu__a{
                        text-decoration: none;
                        color: var(--black3);
                        font-size: 1.3em;
                    }

                    .menu__i{
                        margin-left: 1em;
                    }

            .redes{
                width: 70%;
                display: flex;
                flex-direction: row;
                list-style: none;
                font-size: 2em; 
                margin: 0 auto;
                justify-content: space-evenly;
            }

                .redes__link{
                    color: var(--black3);
                }

                    .redes__i{
                        transition: all 900ms;
                    }

                    .redes__i:hover{
                        transform: translateY(-.7em);
                    }

        .menu__hamb{
            width: 1.6875em;
            height: 1.8125em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            margin: 0;
        }

            .menu__hamb--line{
                width: 100%;
                height: 3px;
                border-radius: 6px;
                background: var(--black3);
                transition: all 900ms;
                transform-origin: 0px 100%;
            }

            .active--top{
                transform: rotate(45deg)
                translate(-2px, 0px);
            }

            .active--middle{
                opacity: 0;
                transform: translateX(-2em);
            }

            .active--bottom{
                transform: rotate(-45deg)
                translate(-1px, 1px);
            }
/*------------------------------------------------------------------------------------------------------------*/
/*Responsive*/

@media screen and (min-width: 992px){

 .menu{
    right: 0;
    width: max-content;
    height: max-content;
    position: relative;
    margin: 0;
 }

    .menu__contenedor{
        height: max-content;
        width: max-content;
        flex-direction: row-reverse;
        position: initial;
        gap: 3em;
    }

    .menu__links{
        display: flex;
        gap: 1.5em;
    }

    .menu__li{
        padding: .5em .5em;
    }

    .menu__a{
        font-size: 1em;
    }

 .menu__hamb, .menu__titulo, .redes, .menu__i{
    display: none;
 }
 
}