
*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: var(--roboto);
    font-size: 15px;
    background: var(--background);
}

.container{
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*section--banner*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.front-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(3, 14, 26, 0.7) url(../image/bannerOptimizado.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
}

    .banner{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .banner__title{
        width: 23em;
    }

        .banner__img{
            width: 100%;
            object-fit: scale-down;
        }
   
    .sponsors{
        display: grid;
        grid-template-rows: repeat(2, max-content);
        opacity: .8;
    }

        .sponsors__h3{
            padding: .5em 1em;
        }

        .sponsors__logos{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;
            gap: 1em;
        }

            .sponsor__logo--1{
                background-image: url(../image/itf.png);
                background-size: cover;
                background-position: center center;
                width: 90px;
                height: 90px;
            }

            .sponsor__logo--2{
                background-image: url(../image/itf2.png);
                background-size: cover;
                background-position: center center;
                width: 100px;
                height: 60px;
            }

            .sponsor__logo--3{
                background-image: url(../image/fetra.png);
                background-size: cover;
                background-position: center center;
                width: 90px;
                height: 90px;
            }

    .actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .actions__btca{
            display: flex;
            align-items: center;
            width: 10em;
            height: 3em;
            background-color: rgba(255, 255, 255, .02);
            backdrop-filter: blur(4px);
            border: 1px solid var(--white);
            color: var(--white);
            font-family: var(--roboto);
            font-size: 1em;
            cursor: pointer;
        }

            .actions__label{
                color: var(--white);
                position: relative;
                left: 14%;
                transition: all .5s ease-in-out;
            }

            .actions__btca:hover .actions__label{
                left: 3%;
            }

            .actions__icon{
                font-size: 1.2em;
                display: flex;
                align-items: center;
                position: relative;
                left: -30%;
                transition: all .5s ease-in-out;
                opacity: 0;
            }

            .actions__btca:hover .actions__icon{
                left: 0%;
                opacity: 1;
            }

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*articulos*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-top: 1px solid var(--grey);
}

    .article__box{
        padding: 1em 0;
        margin: .5em auto;
        color: var(--yellow-dark);
        text-align: center;
    }

    .cover{
        width: 100%;
    }

        .cover__img{
            width: 100%;
        }

    .resumen__header{
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }

        .resumen__title{
            margin: .5em 0;
        }

        .hashtags{
            display: flex;
            flex-direction: row;
            gap: .5em;
            color: var(--grey);
            font-size: 0.8em;
            margin-left: 0;
            margin-bottom: 1em;
        }

        .resumen__box{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            margin: 0;
            color: var(--grey);
            font-size: 0.8em;
        }

            .picture{
                display: flex;
                width: 2.2em;
                height: 2.2em;
                margin: 0;
            }

                .picture__img{
                    width: 100%;
                    border-radius: 100%;
                }

            .data{
                display: flex;
                flex-direction: row;
                gap: 1em;
                margin-left: 1em;
            }

    .resumen__preview{
        width: 100%;
        overflow: hidden;
        margin: 1em 0 1em 0;
    }

        .resumen__preview__p{
            padding: 1em 0 1em 0;
            color: var(--grey);
        }

    .actions__btca--share{
        border: none;
        width: 8em;
        background-color: transparent;
        color: var(--white);
    }

    .actions__btca--share:hover{
        color: var(--blue-light);
    }


/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Section BBL*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.bbl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: max-content;
    *background-color: var(--white);
    color: var(--white);
    font-family: var(--poppins);
}

    .bbl__title{
        display: flex;
        width: 100%;
        padding: .5em 0;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        font-size: 5.5em;
        font-family: var(--bebas-neue);
        *background-color: aqua;
    }

    .bbl__subtitle{
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 2em;
        color: var(--yellow-dark);
    }

    .questionfreq__picture{
        width: 10em;
        height: 10em;
    }

        .questionfreq__picture__img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    .questionfreq__title{
        margin-bottom: 1em;
    }

    .questionfreq__resumen{
        top: -5em;
        width: 90%;
        font-family: var(--roboto);
        color: var(--grey);
        margin-bottom: 4em;
        font-size: 16px;
        line-height: 1.5em;
    }
    
    .form__group{
        width: 90%;
        display: flex;
        flex-direction: column;
        font-family: var(--roboto);
        font-size: 16px;
        line-height: 1.5em;
        padding: 1em;
        margin-top: 2em;
    }

        .form__icon{
            width: 10em;
            height: 10em;
        }

        .form__icon__img{
            width: 100%;
            object-fit: fill;
        }

        .form__title{
            font-family: var(--poppins);
            margin-bottom: .5em;
        }

        .form__resumen{
            color: var(--grey);
            margin-bottom: 2em;
        }
        
        .form__input--group{
            position: relative;
            width: 100%;
        }

            .form__input{
                width: 100%;
                height: 2.7em;
                line-height: 2.7em;
                padding: 0 1em;
                border: 2px solid var(--grey);
                transition: .3s ease all;
                background-color: var(--black);
                color: var(--white);
                margin-bottom: 1em;
            }

            .form__input:focus{
                border: 2px solid var(--blue-light);
                outline: none;
            }

            .form__input--error{
                border: 2px solid var(--red);
            }

            .form__input--error:focus{
                border: 2px solid var(--red);
            }

            .form__input--check{
                border: 2px solid var(--green);
                outline: none;
            }

            .form__input--check:focus{
                border: 2px solid var(--green);
            }

            .form__i{
                display: none;
                position: absolute;
                right: 1em;
                top: .65em;
                color: var(--red);
                font-size: 1.2em;
            }

            .form__i--error{
                display: block;
            }

            .form__i--check{
                display: block;
                color: var(--green);
            }

        .form__notification{
            display: none;
            height: 3em;
            width: 100%;
            text-align: start;
        }

            .form__notification__resumen{
                color: var(--red);
            }
        
        .form__notification--active{
            display: block;
        }

        .form__confirmation{
            text-align: start;
            color: var(--green);
            font-weight:600;
        }

        .actions__label--form{
            left: 12%;
        }
    
    .actions__btca--form{
        margin: 1em auto;
    }

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Responsive Desing*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px){
    .banner__title{
        width: 45em;
    }
}


@media screen and (min-width: 780px){


    .banner{
        margin-top: 3em;
    }

        .banner__title{
            width: 40em;
        }

    .actions--inscription{
        justify-content: center;
        margin: 0;
    }


    .articles{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        display: grid;
        grid-template-rows: repeat(3, 33%);
    }

        .article{
            flex-direction: row;
            border: 1px solid var(--grey);
            margin: 2em 0;
        }

            .cover{
                display: flex;
                width: 90%;
                height: 100%;
            }

                .cover__img{
                    object-fit: cover;
                }

            .resumen{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                padding: 1em 2em;
            }
                .resumen__header{
                    margin: 0;
                }

                .resumen__preview{
                    height: 22em;
                    margin: 0;
                    overflow: hidden;
                }

                    .resumen__preview__p{
                        margin: 0;
                    }
                
                .actions{
                    margin-left: 0;
                }
}

@media screen and (min-width : 1200px){

    .banner__title{
        width: 50em;
    }

    .articles{
        grid-template-columns: repeat(3, 33%);
    }

        .article{
            flex-direction: column;
            height: max-content;
            margin: 2em 1em;
        }

            .cover{
                width: 80%;
                margin: 2em auto;
            }

            .resumen{
                width: 80%;
                padding: 0;
                margin: 0 auto 2em;
            }

            .resumen__box{
                flex-wrap: wrap;
            }

                .data{
                    margin-left: 1em;
                }

                .hashtags{
                    margin: 1em 0;
                }

                .resumen__preview{
                    height: max-content;
                }

    .questionfreq{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .form{
        width: 100%;
    }

    .form__group{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-gap: 3em;
        width: 90%;
    }

        .form__icon{
            width: 15em;
        }

}





