*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: var(--roboto);
    font-size: 15px;
    background: var(--background);
}

.container{
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Main*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.main{
    *background-color: aqua;
}
    .main__container{
        display: grid;
        grid-template-areas: "article"
                             "article"
                             "aside";
        width: 90%;
        max-width: 75em;
    }

        .article{
            margin-top: 7em;
            width: 100%;
        }

            .article__header{
                width: 100%;
            }

                .article__tittle{
                    margin-bottom: .5em;
                }

                .article__section{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: .5em;
                }

                    .article__time{
                        color: var(--grey);
                        margin: 0;
                    }

                    .article__barshare{
                        display: flex;
                        flex-direction: row;
                        width: max-content;
                        margin: .5em 0 0 0;
                        gap: .7em;
                        font-size: 1em;
                        color: var(--grey);
                    }

                        .barshare__container{
                            display: flex;
                            width: 100%;
                            height: 100%;
                            border: 1px solid var(--grey);
                            padding: .4em .4em;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }

                        .barshare__container--facebook{
                            padding: .4em .6em;
                        }

                        .barshare__container:hover{
                            color: var(--blue-light);
                            border: 1px solid var(--blue-light);
                        }

                            .barshare__i{
                                line-height: 1em;
                            }

                .divisor{
                    width: 100%;
                    height: .1em;
                    margin-top: 1em;
                    background-color: var(--grey);
                }

                .article__banner{
                    width: 100%;
                    height: 15em;
                    margin: 2em 0 1em 0;
                    overflow: hidden;
                }
    
                    .banner__img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
    
                .banner__footer{
                    color: var(--grey);
                }

                .article__paragraph{
                    margin: 2em 0;
                    line-height: 2em;
                    color: var(--grey);
                }

        .aside{
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--grey);
        }

            .aside__header{
                display: flex;
                width: 100%;
                height: 3em;
                align-items: center;
            }

                .aside__tittle{
                    margin: 0;
                    color: var(--yellow-dark);
                }

            .aside__link{
                text-decoration: none;
                cursor: pointer;
                color: var(--grey);
            }

            .aside__relatednews{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 2em;
                border-bottom: 1px solid var(--grey);
            }

                .relatednews__banner{
                    width: 100%;
                    height: 15em;
                    overflow: hidden;
                }

                    .relatednews__img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
            
            .relatednews__tittle{
                margin: .5em 0;
                color: var(--white);
            }

            .relatednews__p{
                margin-bottom: 1em;
            }

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Responsive Desing*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
@media screen and (min-width : 640px){

    .article__banner{
        height: 25em;
    }

    .aside{
        flex-direction: row;
        flex-wrap: wrap;
    }

        .aside__tittle{
            padding-left: .5em;
        }

        .aside__link{
            width: 50%;
            padding: 0 1em;
            margin: 0;
            border: none;
        }

            .aside__relatednews{
                border: none;
            }

            .relatednews__banner{
                height: 13em;
            }
}


@media screen and (min-width : 1200px){
    .main__container{
        display: grid;
        grid-template-columns: 50em 25em;
        width: 90%;
        max-width: 75em;
    }

        .article{
            padding: 1em;
        }
            .article__section{
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

                .article__barshare{
                    margin: 0;
                }

        .aside{
            flex-direction: column;
            margin-top: 7em;
            padding: 0 1em;
        }

            .aside__link{
                width: 100%;
            }
}