*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: var(--roboto);
    font-size: 15px;
    background: var(--background);
}

.container{
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*New Hero*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.news{
    font-family: var(--roboto);
}

    .aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 6em;
    }

        .news-row{
            margin-bottom: 3em;
        }

        .new{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 1em;
        }

            .new__link{
                width: 100%;
                height: 100%;
                color: var(--white);
                text-decoration: none;
                cursor: pointer;
            }

                .article{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                    .article__title{
                        margin:0 0 .5em 0;
                    }

                    .article__resum{
                        margin: .5em 0;
                        color: var(--grey);
                    }

                    .article__portada{
                        width: 100%;
                        height: 100%;
                    }

                        .article__img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*New Column*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Media querys*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

@media screen and (min-width: 780px) {
    .aside{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        
    }
        .new-principal{
            grid-column: 1/2;
            grid-row: 1/2;
        }

            .new{
                width: 100%;
            }

        .news-column{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1em;
            margin: 2em 0;
        }

            .article__title{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .article__resum--column{
                display: none;
            }

        .news-row{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1em;
        }
            .new--row{
                flex-direction: row;
                margin: 0;
            }

                .article__portada--row{
                    height: 15em;
                }

            .article__resum--row{
                display: none;
            }

}
