
:root{
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open-Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --black: #030E1A;
    --black2: #051626;
    --black3: #071D33;
    --blue-light: #0A2B4D;
    --yellow-dark: #FFC300;
    --yellow-light: #FFD60A;
    --white: #fffdf7;
    --red: #d90429;
    --green: #83e377;
}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: var(--roboto);
    font-size: 16px;
    background: linear-gradient(90deg, hsla(211, 79%, 6%, 1) 0%, hsla(210, 76%, 11%, 1) 70%);
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Header*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.header{
    width: 100%;
    position: fixed;
    height: 4em;
    background: var(--yellow-dark);
    z-index: 100;
}

.nav_contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .87em 0 .87em 0;
}

.logo{
    margin: 0;
    width: 50%;
    max-width: 137px;
}

.logo_img{
    width: 100%;
    display: block;
}

.cont_links{
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: var(--open-sans);
    position: absolute;
    background: var(--yellow-dark);
    transition: all 500ms ease;
    transform: translateX(800px);
}

.move_cont_links{
    transform: translateX(0px);
}

.cont_menu{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    top: 7em;
    width: 75%;
    height: 60%;
}

.cont_menu h3{
    font-size: 2.5em;
    font-family: var(--poppins);
    font-style: italic;
    -webkit-text-stroke: 1.5px var(--black3);
    color: transparent;
}

.nav_links{
    width: 70%;
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav_links > li{
    padding-bottom: 1em;
}

.nav_links > li > a{
    text-decoration: none;
    color: var(--black3);
    font-size: 1.3em;
}

.nav_links > li > a > i{
    margin-left: 1em;
}

.cont_redes{
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 2em; 
}

.cont_redes > a{
    color: var(--black3);
}

#menu_hamburguesa, #menu_close{
    cursor: pointer;
    margin: 0;
    display: flex;
    width: 2.17em;
    height: 2.17em;
    border-radius: 100%;
    align-items: center;
    z-index: 90;    
}

#menu_hamburguesa i, #menu_close i{
    font-size: 1.5em;
    color: var(--black3);
}

#menu_close{
    display: none;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Main*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.main{
    padding-top: 5em;
}

.form{
    display: flex;
    flex-direction: column;
    *row-gap: 2em;
    border: 1px solid var(--white);
    border-radius: .5em;
    margin: 1.5em 0 3em 0;

}

.contenedorClonado{
    display: flex;
    flex-direction: column;
}

.contenedor_titulo_princ{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 7em;
    justify-content: space-evenly;
    text-align: center;
    margin: 1em auto 1em auto;
}

.fila_A{
    width: 80%;
    height: 32em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.fila_B{
    width: 80%;
    height: 40em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.div_A, .div_nombre_dni, .div_B{
    padding-bottom: 1.5em;
}

.cont_titulo_filaA{
    margin-bottom: 2em;
}

.cont_titulo_filaB{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    gap: .8em;
}

.cont_titulo_filaB h3, span {
    margin: 0;   
}

.puntero{
    cursor: pointer;
    color: var(--yellow-dark);
}

.ocultar{
    display: none;
}

input[type = "text"], input[type="tel"]{
    color: var(--white);
    display: flex;
    width: 100%;
    padding: 0.625em 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fffdf7;
    box-sizing: border-box;
    margin-bottom: 0.625em;
    font-size: 1em;
    outline: none;
}

select {
    width: 100%;
    height: 1.8em;
    background: var(--black3);
    color: var(--white);
    outline: none;
    font-size: 1em;
}

.div_B span p{
    margin-bottom: 1em;
}

.div_buttons{
    display: flex;
    width: 80%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.cont_buttons{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.cont_buttons button{
    height: 2.2em;
    background: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    cursor: pointer;
}

.cont_buttons > button:hover{
    background: var(--blue-light);
}


/*Ventan modal*/
.cont_modal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(3, 14, 26, .599);
    position: fixed;
    top:0;
    left: 0;
    z-index: 80;
}

@keyframes modal{
    from{margin-top: -730px; opacity:0;}
    to{top:0; opacity:1;}
}

.ventana_modal{
    width: 23em;
    height: 15em;
    background: var(--white);
    display: flex;
    flex-direction: column;
    color: #030E1A;
    text-align: center;
    justify-content: space-evenly;
    border-radius: .5em;
    animation-name: modal;
    animation-duration: 1s;
}

.mensaje_modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mensaje_modal p{
    width: 90%;
    line-height: 1.5em;
}

.mensaje_modal i{
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--red);
}

.fa-circle-check{
    color: var(--green) !important;
}

.button_modal button{
    width: 10em;
    height: 2.2em;
    background: transparent;
    color: var(--black2);
    border: 1px solid var(--black3);
    cursor: pointer;
}

.button_modal > button:hover{
    background: var(--blue-light);
    color: var(--white);
}
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*footer*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.cover_footer{
    width: 100%;
    height: 20em;
    background: var(--black2);
    border-top: 1px solid var(--yellow-dark);
}

.contenedor_footer{
    height: 17em;
    width: 90%;
    *background: var(--white);
    margin-top: 2em;
}

.cabecera_footer{
    display: flex;
    flex-direction: column;
    *background: var(--yellow-dark);
    width: 80%;
    height: 4em;
    color: var(--white);
    font-family: var(--poppins);
    font-style: italic;
    font-size: 1.7em;
    justify-content: space-evenly;
    opacity: .5;
    z-index: 70;
}

.contenedor_iconos i{
    color: var(--white);
    flex-direction: column;
    padding: 0 .5em 0 .5em;
}

.contenedor_links{
    *background: var(--yellow-dark);
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    margin-bottom: 1em;
    opacity: .5;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
}

.contenedor_links ul{
    list-style: none;
    padding: 0 .4rem 0 .4rem;
}

.contenedor_links ul li{
    padding-bottom: .4rem;
}

.copyright{
    display: flex;
    opacity: .5;
    justify-content: center;
    padding-top: 2rem;
    font-size: 14px;
    z-index: 70;
}


/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Responsive Desing*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

/*Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}*/

/*Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}*/

/*Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}*/

/*Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}*/

