*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: var(--roboto);
    font-size: 15px;
    background: var(--background);
}

.container{
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Main*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.main{
    padding-top: 5em;
}

    .form{
        display: flex;
        flex-direction: column;
        *row-gap: 2em;
        border: 1px solid var(--white);
        border-radius: .5em;
        margin: 1.5em 0 3em 0;

    }

        .form__titulos{
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 7em;
            justify-content: space-evenly;
            text-align: center;
            margin: 1em auto 1em auto;
        }

    .fila1{
        width: 80%;
        height: 32em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

        .fila1__titulos{
            margin-bottom: 2em;
        }

        .fila1__inputs, .fila2__input, .fila2__selectores, .fila2__aclaracion{
            padding-bottom: 1.5em;
        }

        .inputs__texto{
            color: var(--white);
            display: flex;
            width: 100%;
            padding: 0.625em 0;
            background: transparent;
            border: none;
            border-bottom: 1px solid #fffdf7;
            box-sizing: border-box;
            margin-bottom: 0.625em;
            font-size: 1em;
            outline: none;
        }

    .fila2{
        width: 80%;
        height: 36em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

        .fila2__titulos{
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            gap: .8em;
        }

            .fila2__titulo_principal{
                margin:0;
            }

            .fila2__puntero{
                margin:0;
                cursor: pointer;
                color: var(--yellow-dark);
            }

            .fila2__puntero--ocultar{
                display: none;
            }

            .fila2__selector {
                width: 100%;
                height: 1.8em;
                background: var(--black3);
                color: var(--white);
                outline: none;
                font-size: 1em;
            }

            .fila2__selector_titulo{
                margin-bottom: 1em;
            }

.contenedorClonado{
    display: flex;
    flex-direction: column;
}

.form__botones{
    display: flex;
    width: 80%;
    margin-bottom: 2em;
    margin-top: 2em;
}

    .botones__contenedor{
        width: 100%;
        height: 8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

        .botones__accion{
            height: 2.2em;
            background: transparent;
            color: var(--white);
            border: 1px solid var(--white);
            cursor: pointer;
        }

        .botones__accion:hover{
            background: var(--blue);
        }


/*Ventan modal*/
.modal{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(3, 14, 26, .599);
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
}

@keyframes modal{
    from{margin-top: -730px; opacity:0;}
    to{top:0; opacity:1;}
}

.modal__ventana{
    width: 18em;
    height: 15em;
    background: var(--white);
    display: flex;
    flex-direction: column;
    color: #030E1A;
    text-align: center;
    justify-content: space-evenly;
    border-radius: .5em;
    animation-name: modal;
    animation-duration: 1s;
}

.modal__mensaje{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__parrafo{
    width: 90%;
    line-height: 1.5em;
}

.modal__i{
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--red);
}

.modal__i--exitoso{
    color: var(--green);
}

.modal__boton{
    width: 10em;
    height: 2.2em;
    background: transparent;
    color: var(--black2);
    border: 1px solid var(--black3);
    cursor: pointer;
}

.modal__boton:hover{
    background: var(--blue);
    color: var(--white);
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
                            /*Responsive Desing*/ 
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

/*Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}*/

/*Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}*/

/*Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}*/

/*Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
}*/

@media screen and (min-width: 992px){
    .fila1{
        width: 80%;
        height: 18em;
    }

    .fila1__inputs__cont{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
    }

    .fila1__inputs, .fila2__inputs{
        width: 100%;
        margin-left: 0;
    }

    .fila2{
        width: 80%;
        height: auto;
    }

    .fila2__inputs__cont{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3em;
        gap: 1.5em;
    }

    .contenedorClonado{
        width: 100%;
    }
    
    .botones__contenedor{
        flex-direction: row;
    }
    
    .botones__accion{
        width: 100%;
    }

    .menu__hamb{
        display: none;
    }
}
